.card-container{
min-width: 350px;
max-width: 350px;
height: 430px;
padding: 0px;
margin-bottom: 50px;
background: #FFF;
border-radius: 6px;
position: relative;
top: 10px;
left: 10px;
transform:;
box-shadow: 0px 1px 10px 1px #000;
overflow: hidden;
display:;
}
.upper-container{
height: 150px;
background: #b3b3ff;
}
.image-container{
background: white;
width: 100px;
height: 100px;
border-radius: 50%;
padding:;
transform: translate(125px,100px);
}
.image-container img{
width: 92px;
height: 92px;
margin: 4px;
border-radius: 50%;
}
.lower-container{
height: 280px;
background: #FFF;
padding: 20px;
padding-top: 50px;
text-align: center;
}
.lower-container h4, h5{
padding-top: 10px;
box-sizing: border-box;
line-height: .6;
font-weight: lighter;
}
.lower-container h5{
color: #7F00FF;
opacity: .6;
font-weight: bold;
}
.lower-container p{
font-size: 16px;
color: gray;
margin-bottom: 30px;
}
.lower-container .btn{
padding: 12px 20px;
background: #7F00FF;
border: none;
color: white;
border-radius: 30px;
font-size: 12px;
text-decoration: none;
font-weight: bold;
transition: all .3s ease-in;
}
.lower-container .btn:hover{
background: transparent;
color: #7F00FF;
border: 2px solid #7F00FF;
}